
.cajas{
    max-width: 900px;
    background-color: lightgray;
    border: 3px solid black;
    height: 700px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.caja{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    margin: 10px;
}

.roja{
    background-color: red;
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}