.cajas{
    max-width: 800px;
    background-color: cornflowerblue;
    margin: 0 auto;
    border: 2px solid black;
}
.caja{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 10px; 
    border: 5px solid red;
    float: left;
}
.clearfix{
    float: none;
    clear: both;
}