body{
    background-color: lightgray;
}
header > h1{
    color: rgba(0, 0, 255, 0.2);
    text-align: center;
    letter-spacing: 10px; 
}
main > article > section{
    width: 90%; 
    margin: 0 auto;
}
main > article > section > h3{
    font-size: 28px;
    background-color: gray;
    color:white;
    padding: 5px 5px;
}
main > article > section > div{
    width: 80%;
    margin: 0 auto;
}
main > article > section > div > img{
    float:left;
    margin-right: 20px;
}
main > article > section > div > p {
    text-align: justify; 
    text-indent: 15px;
}
main > article > section > div > p > em{
    color: red;
}
main > article > section > div > p > span{
    background-color: white;
}
.clear-fix{
    clear: both;
    float: none;
}